name: CI (OSX)

on: [push, pull_request]

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        version:
          - stable
          - nightly

    name: ${{ matrix.version }} - aarch64-apple-darwin
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install ${{ matrix.version }}
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.version }}-aarch64-apple-darwin

      - name: Generate Cargo.lock
        run: cargo generate-lockfile

      - name: Run tests
        timeout-minutes: 40
        run: cargo test --all --no-fail-fast
